h1 {
   text-align: center;
   font-size: 50px;
   color: rgb(0, 0, 0)
   

}

body{

   background-color: rgb(255, 255, 255);
}

p {
   color: rgb(0, 0, 0);
   font-size: 30px;
}

#ID1{
   width: 350px;
   height: 250px;
   }
#ID2{
  width: 350px;
  height: 250px;
}  
#ID3{
 width: 350px;
 height: 250px;
}
#ID4{
width: 350px;
height: 250px;
}
#ID5{
width: 350px;
height: 250px;
}
#ID6{
width: 350px;
height: 250px;
}
#ID7{
width: 350px;
height: 250px;
}
#ID7{
width: 350px;
height: 250px;
}
#ID8{
width: 350px;
   height: 250px;
}
 #ID9{
 width: 350px;
height: 250px;
 }
 #ID10{
width: 350px;
height: 250px;
} 
#ID11{
width: 500px;
height: 450px;
}